  §.article-wrapper {
  background-color: #FAFBFD;
}

.article-cards {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  padding: 5px;
  margin:10px;
}


.article-cards-grid {
  display: grid;
  margin: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  justify-items: center;
  img {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: 100px) and (max-width: 992px) {
  .article-cards-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .article-cards-grid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (min-width: 768px) {
  .article-cards-grid {
    grid-template-columns: 1fr 1fr 1fr;

  }
}

@media (min-width: 992px) {
  .article-cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .article-cards-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.article-cards-grid img {
  object-fit: cover;
}


