.icons {
	background-color: #F7F7F7;
	display: flex;
	justify-content: center;
	padding: 45px 0 30px 0;
}
.icon {
	width: 198px;
    margin: 0 30px;
	img {
		margin-bottom: 20px;
		height: 70px;
	}
	p {
		font-weight: lighter;
	}
}
.landing-images {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.landing-image img {
	height: 280px;
	margin: 0;
	z-index: 300;
}
#first-landing-image {
	position: absolute;
    left: 0;
    top: -70px;
}
#third-landing-image {
	right: 0;
    position: absolute;
    bottom: -92px;
}
.what-we-do {
	position: relative;
	margin: 60px 0 90px 0;
	z-index: 20;
	display: flex;
    align-items: center;
    flex-direction: column;
	p {
		font-weight: lighter;
    	width: 942px;
    	display: flex;
		justify-content: center;
		align-content: center;
	}
	hr {
		border-bottom: 3px solid #FED309;
		width: 100px;
	}
}
.border {
	width: 100%;
}
.landing-home-eco {
	display: flex;
	justify-content: center;
	background-color: #F7F7F7;
}
.landing-home-eco-text {
	position: relative;
	margin: 30px 0 30px 0;
	z-index: 20;
	display: flex;
    align-items: center;
    flex-direction: column;
	p {
		font-weight: lighter;
    	width: 970px;
    	display: flex;
		justify-content: center;
		align-content: center;
	}
	hr {
		border-bottom: 3px solid #5DB035;
		width: 100px;
	}
}

.example-menus {
	margin-top: 70px;
	position: relative;
	img {
		height: 35vw;
		z-index: -10;
	}
	p {
		padding-top: 10px;
		font-weight: lighter;
	}
	hr {
		border-bottom: 3px solid #DE4C4B;
    	width: 100px;
	}
}
.arrow-white {
	background-color: white;
	background: rgba(255, 255, 255, 0.7);
	padding: 10px;
}
.menu-scroll {
	display: flex;
	align-content: center;
	justify-content: center;
	z-index: 10;
	margin-top: -73px;
	h4 {
		padding: 0 90px;
		letter-spacing: 1px;
		z-index: 100;
	}
	p {
		padding-top: 60px;
	}
	i {
		font-size: 24px;
		margin-top: 9px;
		margin-bottom: -36px;
		padding: 20px 30px;
		text-decoration: none;
		color: #333332;
	}
	i:hover {
		opacity: 0.5;
	}
}
@media only screen and (max-width: 1668px) {
	.what-we-do p {
		width: 900px;
		flex-direction: column;
	}
}
@media only screen and (max-width: 1448px) {
	.what-we-do p {
		width: 719px;
	}
}
@media only screen and (max-width: 1230px) {
	.landing-image img {
		height: 200px;
	}
}
@media only screen and (max-width: 1067px) {
	.what-we-do p {
		width: auto;
		padding: 0 200px;
	}
	.icon {
		width: 198px;
	    margin: 0px;
	}
	.landing-home-eco-text p {
		padding-right: 20px;
    	padding-left: 20px;
    	width: auto;
	}
}
@media (max-width: 893px) {
	.landing-order-now {
		flex-direction: column;
	}
	.one-week-programme {
		padding-bottom: 20px;
		padding-right: 0;
	}
	.weekly-subscription {
		padding-top: 20px;
		padding-left: 0;
	}
}
@media (max-width: 812px) {
    .landing-image img {
	    height: 140px;
	}
	.what-we-do p {
	    width: auto;
	    padding: 0 152px;
	}
}
@media only screen and (max-width: 768px) {
	.what-we-do p {
		padding: 0 103px;
	}
	.landing-image img {
		height: 130px;
	}
} 
@media only screen and (max-width: 554px) {
	.what-we-do p {
    	padding: 0px 56px;
    }
    .example-menus p {
    	padding: 40px 20px 0px 20px;
    }
 //    .icons {
	// 	flex-direction: column;
	// 	align-items: center;
	// 	align-content: center;
	// 	justify-content: center;
	// }
	.icon img {
		height: 50px;
	}
} 
@media only screen and (max-width: 458px) {
	.what-we-do {
		padding-top: 46px;
		padding-bottom: 20px;
	}
}
@media only screen and (max-width: 419px) {
	.landing-order-now {
    	padding: 80px 40px;
	}
	.landing-btn-red {
	    white-space: pre-wrap;
	    padding: 18px 13px;
	    margin: 0 20px;
	}
}
@media only screen and (max-width: 391px) {
	.banner-content p {
	    font-size: 18px;
	    margin: 30px 0;
	}
	.banner-content h2 {
    	font-size: 26px;
    	margin-top: 80px;
	}
}



