.icons {
	background-color: #F7F7F7;
	display: flex;
	justify-content: center;
	padding: 45px 0 30px 0;
}
.icon {
	width: 198px;
    margin: 0 63px;
	img {
		margin-bottom: 20px;
		height: 70px;
	}
	p {
		font-weight: lighter;
	}
}
.landing-images {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.landing-image img {
	height: 280px;
	margin: 0;
	z-index: 300;
}
#first-landing-image {
	margin-top: -580px;
}
#third-landing-image {
	margin-top: -300px;
}
.what-we-do {
	margin: 60px 0 90px 0;
	z-index: 20;
	display: flex;
    align-items: center;
    flex-direction: column;
	p {
		font-weight: lighter;
		/* padding: 0 288px; */
    	width: 850px;
    	display: flex;
		justify-content: center;
		align-content: center;
	}
	hr {
		border-bottom: 3px solid #FED309;
		width: 100px;
	}
}

.border {
	width: 100%;
}
.landing-order-now {
	display: flex;
	justify-content: center;
	background-color: #F7F7F7;
	padding: 80px 0;
	p {
		font-weight: lighter;
		margin-top: 25px;
	}
}
.one-week-programme {
	padding-right: 60px;
}
.weekly-subscription {
	padding-left: 60px;
}
.example-menus {
	margin-top: 70px;
	position: relative;
	img {
		height: 35vw;
		z-index: -10;
	}
	p {
		padding-top: 40px;
		font-weight: lighter;
	}
	hr {
		border-bottom: 3px solid #5DB035;
    	width: 100px;
	}
}
.arrow-white {
	background-color: white;
	background: rgba(255, 255, 255, 0.7);
	padding: 10px;
}
.menu-scroll {
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 10;
    margin-top: -73px;
    h4 {
    	padding: 0 90px;
    	letter-spacing: 1px;
    	z-index: 100;	
    }
    p {
    	padding-top: 60px;
    }
    i {
    	font-size: 24px;
    	margin-top: 9px;
    	margin-bottom: -36px;
    	padding: 20px 30px;
    	text-decoration: none;
    	color: #333332;
    }
    i:hover {
    	opacity: 0.5;
    }
}

@media only screen and (max-width: 1284px) {
    .what-we-do p {
        font-weight: lighter;
        /* padding: 0 288px; */
        width: 750px;
     }
}