.icon-large {
    margin: 0 63px;
	img {
		margin-bottom: 20px;
		height: 100px;
	}
	p {
		font-weight: lighter;
		padding-top: 20px;
	}
}
.meal-plans-section {
	img {
		width: 330px;
	    margin: 0 10px;
	}
	p {
		background-color: #F7F7F7;
		margin: 0 10px 0 10px;
		padding: 25px 25px;
		font-size: 15px;
	}
}
.meal-plan-description {
	width: 350px;
	text-align: center;
}
.meal-plan-read-more {
	width: 350px;
	text-align: center;
	p {
		font-size: 14px;
		font-weight: lighter;
		padding-top: 10px;
	}
}
.meal-plans-row {
	display: flex;
	justify-content: center;
  	margin-bottom: 30px;
}

// each meal plan
.meal-plan-maintain {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 22%;
	    background-color: white;
	    padding: 15px 44px;
	}
}
.meal-plan-train {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 29%;
	    background-color: white;
	    padding: 15px 44px;
	}
}
.meal-plan-trim {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 30%;
	    background-color: white;
	    padding: 15px 44px;
	}
}
.meal-plan-postnatal {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 21%;
	    background-color: white;
	    padding: 15px 44px;
	}
}
.meal-plan-vegetarian {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 6%;
	    background-color: white;
	    padding: 15px 30px;
	}
}
.meal-plan-bespoke {
	position: relative;
	h4 {
		position: absolute;
	    top: 97px;
	    left: 24%;
	    background-color: white;
	    padding: 15px 44px;
	}
}
.prepare-section {
	display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 60px;
}
.prepare-image {
	width: 400px;
	margin-right: 80px;
}
.deliver-section {
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    margin-left: 115px;
	margin-right: 50px;
}
.icon-deliver {
	padding-left: 42px;
	padding-right: 42px;
}
.deliver-image {
	width: 400px;
}
