.icon-large {
	img {
		margin-bottom: 20px;
		height: 100px;
	}
	p {
		font-weight: lighter;
		padding-top: 20px;
		width: 600px;
	}
}
.meal-plans-section {
	img {
		width: 330px;
	    margin: 0 10px;
	}
	p {
		background-color: #F7F7F7;
		margin: 0 10px 0 10px;
		padding: 25px 25px;
		font-size: 15px;
	}
}
.meal-plan-description {
	width: 350px;
	text-align: center;
}
.meal-plan-read-more {
	width: 350px;
	text-align: center;
	p {
		font-size: 14px;
		font-weight: lighter;
		padding-top: 10px;
	}
}
.meal-plans-row {
	display: flex;
	justify-content: center;
  	margin-bottom: 30px;
}

// // each meal plan
.meal-plan {
	display: flex;
	flex-direction: column;
	h4 {
	    background-color: white;
	    text-align: center;
	    z-index: 200;
	    position: absolute;
	    padding: 10px 20px;
	    margin-top: 108px;
	    margin-left: 6%;
	}
}
// .meal-plan-train {
// 	position: relative;
// 	h4 {
// 		position: absolute;
// 	    top: 97px;
// 	    left: 29%;
// 	    background-color: white;
// 	    padding: 15px 44px;
// 	}
// }
// .meal-plan-trim {
// 	position: relative;
// 	h4 {
// 		position: absolute;
// 	    top: 97px;
// 	    left: 30%;
// 	    background-color: white;
// 	    padding: 15px 44px;
// 	}
// }
// .meal-plan-postnatal {
// 	position: relative;
// 	h4 {
// 		position: absolute;
// 	    top: 97px;
// 	    left: 21%;
// 	    background-color: white;
// 	    padding: 15px 44px;
// 	}
// }
// .meal-plan-vegetarian {
// 	position: relative;
// 	h4 {
// 		position: absolute;
// 	    top: 97px;
// 	    left: 6%;
// 	    background-color: white;
// 	    padding: 15px 30px;
// 	}
// }
// .meal-plan-bespoke {
// 	position: relative;
// 	h4 {
// 		position: absolute;
// 	    top: 97px;
// 	    left: 24%;
// 	    background-color: white;
// 	    padding: 15px 44px;
// 	}
// }
.prepare-section {
	display: flex;
    justify-content: center;
    margin: 80px 115px 0 50px;
    padding-left: 60px;
}
.prepare-image {
	width: 400px;
}
.deliver-section {
	display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-left: 115px;
	margin-right: 50px;
}
.deliver-image {
	width: 400px;
}
@media only screen and (max-width: 1226px) {
	.icon-large {
	    p {
	    	width: auto;
	    }
	}
	.prepare-section { 
		justify-content: space-around;
	    margin: 0;
	    padding: 50px;
	}
	.deliver-section {
		justify-content: space-around;
		margin: 0;
	    padding: 50px;
	}
}
@media only screen and (max-width: 1098px) {
	.meal-plan-description {
    	width: 200px;
    }
}
@media only screen and (max-width: 946px) {
	.prepare-section {
		flex-direction: column-reverse;
		align-items: center;
	}
	.prepare-image {
		margin-left: 25px;
	}
	.deliver-section {
		flex-direction: column;
		padding-bottom: 0;
	}
	.icon-large {
		padding-bottom: 0;
	}
}
@media only screen and (max-width: 630px) {
	.meal-plan-description {
    	width: 350px;
    }
    .meal-plans-row {
		flex-direction: column;
		align-items: center;
	}
}
@media only screen and (max-width: 498px) {
	.prepare-image {
	    margin-left: 16px;
	    width: 212px;
	}
	.deliver-image {
    	width: 225px;
    }
}
@media only screen and (max-width: 362px) {
	.meal-plan-description {
    	width: 300px;
    }
}












