.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 40px 0 60px 0;
}
.our-food {
    display: flex;
    flex-direction: column;
    width: 1000px;
    p {
        font-weight: lighter;
        padding: 10px;
        text-align: center;
    }
    hr {
        border-bottom: 3px solid #DE4C4B;
        width: 100px;
    }
}
.our-food-icons {
    background-color: white;
}
.extras {
    display: flex;
    justify-content: center;
    h5 {
        text-align: center;
        margin-bottom: 0;
    }
    p {
        width: 265px;
        text-align: center;
    }
}                   
.extra-para {
    flex-direction: column;
    background-color: #F7F7F7;
    margin: 15px 10px 30px 10px;
    padding: 25px 25px;

}
.balanced-diet-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.balanced-diet {
    width: auto;
    p {
        font-weight: lighter;
        text-align: left;
        width: 520px;
        margin-top: 30px;
    }
}
.diet-image {
    height: 400px;
    margin-left: 43px;
}
.nutrition-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-weight: lighter;
        width: 850px;
    }
    hr {
        border-bottom: 3px solid #5DB035;
        width: 100px;
    }
}
.nutrition-images-top {
    display: flex;
    justify-content: center;
    margin: 30px 100px 0 100px;
}
.nutrition-images-bottom {
    display: flex;
    justify-content: center;
    margin: 10px 100px;
}
.nutrition-box {
    margin: 0 5px;
    position: relative;
    height: 320px;
}
.meat-box {
    background-color: #DE4C4B;
    width: 230px;
}
.fish-box {
    background-color: #36A9E0;
    width: 230px;
}
.dairy-box {
    background-color: #DDDDDD;
    width: 230px;
}
.flavour-box {
    background-color: #FED309;
    width: 230px;
}
.grains-box {
    background-color: #FED309;
    width: 470px;
}
.fruit-box {
    background-color: #5DB035;
    width: 470px;
}
// .nutrition-image {
//     z-index: -100;
//     height: 48vh;
//     width: auto;
// }
.nutrition-text {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    h6 {
        letter-spacing: 1px;
        background-color: white;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        margin: 0;
        padding: 20px 10px;
    }
    p {
        background-color: white;
        background: rgba(255, 255, 255, 0.5);
        display: block;
        font-weight: lighter;
        font-size: 14px;
        padding: 10px;
        height: 320px;
    }
}
// .nutrition-text:hover {
//     background-color: white;
//     background: rgba(255, 255, 255, 0.7);
//     p {
//         display: block;
//         font-weight: lighter;
//         font-size: 14px;
//         padding: 10px;
//     }
// }
.about-intro {
    margin: 100px 0 49px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        width: 850px;
        font-weight: lighter;
    }
    hr {
        border-bottom: 3px solid #FED309;
        width: 100px;
    }
    a {
        color: #3E4144;
    }
    a:hover {
        text-decoration: none;
        color: #FED309;
    }
}
.about-section {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-weight: lighter;
}
.our-phil {
    width: 400px;
    padding: 40px;
    margin-left: 60px;
    border: solid 2px #FED309;
    h4 {
        letter-spacing: 2px;
        padding: 10px 0;
    }
    h5 {
        padding: 30px 0 10px 0;
    }
}
.our-founder {
    padding: 0 70px 0 100px;
    width: 700px;
    h4 {
        margin: 40px 0 30px 0;
        letter-spacing: 2px;
    }
    a {
        color: #3E4144;
    }
    a:hover {
        text-decoration: none;
        color: #FED309;
    }
}
.annabel-img {
    height: 40vh;
    width: auto;
}
@media only screen and (max-width: 1160px) {
    .our-food { 
        width: 800px;
    }
    .extras p {
        width: 197px;
        text-align: center;
    }     
    .balanced-diet-section {
        flex-direction: column-reverse;
    }   
    .balanced-diet p {
        text-align: center;
        width: 760px;
    }  
    .diet-image {
        margin-left: 0;
    }
    .nutrition-section p {
        width: 750px;
    }
    .about-intro p {
        width: 800px;
    }
    .nutrition-box {
        height: 370px;
    }
    .meat-box {
        background-color: #DE4C4B;
        width: 190px;
    }
    .fish-box {
        background-color: #36A9E0;
        width: 190px;
    }
    .dairy-box {
        background-color: #DDDDDD;
        width: 190px;
    }
    .flavour-box {
        background-color: #FED309;
        width: 190px;
    }
    .grains-box {
        background-color: #FED309;
        width: 390px;
    }
    .fruit-box {
        background-color: #5DB035;
        width: 390px;
    }
    .our-founder {
        padding-left: 60px;
        padding-right: 30px;
        width: 500px;
    }
    .annabel-img {
        height: 30vh;
        width: auto;
    }
}
@media only screen and (max-width: 976px) {
    .about-section {
        flex-direction: column-reverse;
    }
    .our-founder {
        padding-left: 30px;
        width: 766px;
    }
    .our-phil {
        width: 766px;
        margin-top: 45px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 928px) {
    .diet-image {
        margin-left: 0;
        height: 200px;
    }
    .nutrition-section p {
        width: auto;
    }
    .nutrition-images-top {
        flex-direction: column;
        margin: 0;
    }
    .nutrition-box {
        margin: 5px 0;
        position: relative;
        height: 170px;
    }
    .nutrition-images-bottom {
        flex-direction: column-reverse;
        margin: 10px 0;
    }
    .meat-box {
        width: 600px;
    }
    .fish-box {
        width: 600px;
    }
    .dairy-box {
        width: 600px;
    }
    .flavour-box {
        width: 600px;
    }
    .grains-box {
        width: 600px;
    }
    .fruit-box {
        width: 600px;
    }
    .grains-bottom {
        height: 262px;
    }
    .nutrition-text {       
        p {
            height: 206px;
        }
    }
}
@media only screen and (max-width: 850px) {
    .our-food { 
        width: auto;
        padding: 0 10vw;
    }
    .extras {
        flex-direction: column;
        align-items: center;
    }
    .extras {
        p {
            width: auto;
        }
    }  
    .middle-extra p {
        width: auto;               
    }
    .balanced-diet p {
        width: auto;
        padding: 0 10vw;
    } 
    .nutrition-section {
        width: auto;
        padding: 0 10vw;
    }
    .about-intro p {
        width: auto;
        padding: 0 10vw;
    }
    .our-phil {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
    .our-founder {
        width: auto;
    }
    .nutrition-box {
        margin: 5px 0;
        position: relative;
        height: 240px;
    }
    .meat-box {
        width: 300px;
    }
    .fish-box {
        width: 300px;
    }
    .dairy-box {
        width: 300px;
    }
    .flavour-box {
        width: 300px;
    }
    .grains-box {
        width: 300px;
    }
    .fruit-box {
        width: 300px;
    }
    .grains-bottom {
        height: 448px;
    }
    .bottom-text p {
        height: 394px;
    }
}
@media only screen and (max-width: 650px) {
   .our-food { 
        width: auto;
        padding: 0 5vw;
    }
    .extras {
        flex-direction: column;
        align-items: center;
    }
    .balanced-diet p {
        width: auto;
        padding: 0 5vw;
    } 
    .nutrition-section {
        width: auto;
        padding: 0 5vw;
    }
    .about-intro p {
        width: auto;
        padding: 0 5vw;
    }
    .our-founder {
        width: auto;
        margin: 0;
        padding: 0 5vw;
    }
}






