<%= render 'shared/navbar_general' %>

<div class="bespoke">
<h2>Thank you!</h2>
  <p>Your request for a bespoke meal plan has been received and we will be in touch within 48 hours to discuss your requirements.</p>
</div>
