<%= render 'shared/navbar_general'%>
<div class="container">
	<div class="terms container">
		<h2>FAQ’s</h2>
		<p>Our service is designed to suit you so we understand if you have lots of questions. If you would like any more information, please contact us at <%= link_to "info@hakunafoods.co.uk", "mailto:info@hakunafoods.co.uk" %>

		<h3>ORDERING</h3>

		<h4>HOW DO I GET STARTED?</h4>
		Simply use our online registration form, you will need to progress through the steps until registration is complete, this can take between 5 -10 minutes.

		<h4>HOW LONG DO I SIGN UP FOR?</h4>
		This is for you to choose, we offer one week plans or rolling weekly subscriptions. We have found that there is no quick fix for getting healthy and maintenance is key. The longer you sign up for the greater results you will achieve. 

		<h4>HOW SOON CAN I START?</h4>
		Orders need to be placed by midnight Thursday for delivery the following Monday. All plans are based on a Monday to Friday week. 

		<h4>HOW MUCH WILL IT COST?</h4>
		This depends on several factors including the plan type, nutritional requirements, length of time you sign up for and any additions you may require. 

		<h3>DELIVERY</h3>

		<h4>WHERE DO YOU DELIVER?</h4>
		Hakuna prices include delivery to all Hertfordshire postcodes and those north of the river in London. We may be able to help if you live outside these areas. Please e-mail us at <%= link_to "info@hakunafoods.co.uk", "mailto:info@hakunafoods.co.uk" %> if you are unsure. 

		<h4>HOW DOES DELIVERY WORK?</h4>
		Your food will be delivered every weekday morning, between 00.00 - 06.00 in a temperature controlled chiller bag with an ice pack. In most cases, the bag is left on your doorstep. However, we have alternative delivery solutions should you require them. Please contact us if you need to discuss specific delivery options.

		It is not possible to allocate a specific time slot and your delivery will be made at any time between these hours. 

		<h4>WHAT IF I WANT TO PAUSE DELIVERY?</h4>
		We are able to pause a weekly subscription if we are notified by midnight Thursday for the following week or weeks. 

		<h4>WHAT DO I DO WITH MY EMPTY CHILLER BAG AND USED ICEPACK?</h4>
		We will exchange both items when we deliver your next food box. Just leave it out in the same place that we dropped it off.


		<h3>FOOD AND NUTRITION</h3>

		<h4>WHAT TYPE OF FOOD AND DRINK WILL I RECEIVE?</h4>
		Hakuna food is tasty, exciting, innovative and varied. We continuously update recipes and find you the most delicious ones! We aim to cook in line with seasonal produce, including a variety of cuisines on a daily basis. All plans include a cold press juice, breakfast, morning snack, lunch, afternoon snack, supper. We also offer additional options which can be added to your delivery.


		<h4>WHERE DO YOU GET YOUR PRODUCE FROM?</h4>
		We use a trusted selection of suppliers. We aim to use locally sourced, organic produce; our meat comes from grass fed animals and our fish comes from sustainable sources. We take great interest and care in the supply chain of our foods to provide you with the highest quality.  

		<h4>WILL I NEED TO PREPARE MY FOOD?</h4>
		Your food boxes will come fully prepared. Where you see a frying pan icon on your menu, we suggest that the meal is heated for ultimate enjoyment. Our heating guide will be emailed to you upon ordering.

		<h4>HOW LONG DO THE MEALS LAST?</h4>
		Due to the nature of our product, you shouldn't need to store your food for longer than 24 hours.

		<h4>HOW DO I TELL YOU ABOUT MY FOOD ALLERGIES?</h4>
		When you register, you can list as many ingredients of food that you need to avoid. Any more than 3 exclusions will mean you automatically qualify for a bespoke package, of which a price is available on application. All our meals are gluten free.  

		<h4>WHAT IF I AM PESCATARIAN, VEGETARIAN OR VEGAN?</h4>
		We can cater for all these dietary requirements; just let us know when you register.

		<h4>WHAT CAN I DRINK?</h4>
		We provide a daily juice, and a smoothie in certain packages. However, it is vital that you drink enough water; the government recommends drinking between 1.5 l – 2l of water or herbal teas a day. 

		<h4>WHAT IF I AM HUNGRY?</h4>
		Our plans give you the correct daily balance of proteins, carbohydrates and fats. Some clients may find it takes 2-3 weeks for their body to settle into the new regime. However, please let us know and we can alter your portion sizes if this does not improve.

		<h4>SHOULD I EAT ALL THE FOOD EVEN IF I AM NOT HUNGRY?</h4>
		Our plans are designed to maintain energy levels and avoid blood sugar swings, which can trigger hunger. Spacing out meals before you become really hungry helps maintain stable blood sugar levels. It is suggested that you follow the plan as provided.

		<h4>CAN I TELL YOU MY NUTRITIONAL REQUIREMENTS / MACROS?</h4>
		If you have macros and micros calculated for you then we are happy to provided these, simply choose our bespoke package and we will be in touch. We will be able to discuss any specific needs you may have, and try to build them into your plan. 
		</p>
	</div>
</div>