<%= render 'shared/navbar_homepage' %>
<div class="banner">
	<div class="banner-content">
		<h2>NUTRITIONAL MEALS PERSONALISED FOR YOU</h2>
		<p>PROVIDING YOU WITH THE CONSISTENCY, NOURISHMENT AND STRUCTURE TO MEET YOUR HEALTH GOALS</p>
	</div>
	<%= link_to "ORDER NOW", "", class: "landing-btn-red" %>
</div>
