.footer {
	background-color: #333332;
	display: flex;
	justify-content: center;
	width: 100vw;
	align-items: center;
	padding-left: 120px;
	h6 {
		color: white;
	}
	p {
		font-size: 14px;
		font-weight: lighter;
		color: #D6D7D8;
	}
	a {
		color: #D6D7D8;
		text-decoration: none;
	}
}
.footer-child {
	margin: 40px;
}
.footer-goto {
	display: flex;
}
.col-one {
	padding-right: 30px;
}
.col-two {
	padding-top: 36px;
}
.footer-hakuna-brand img {
	margin-top: 18px;
    height: 80px;
}
.footer-hakuna-brand-responsive {
	margin-top: 18px;
	display: none;
	img {
    	height: 80px;
    }
}
@media only screen and (max-width: 985px) {
	.footer {
		flex-wrap: wrap;
		padding-right: 60px;
	}
	.footer-hakuna-brand {
	    display: none;
	}
	.footer-hakuna-brand-responsive img {
	    display: block;
	    flex-direction: column;
	    margin-top: 0;
	    height: 80px;
	}
}
@media only screen and (max-width: 804px) {
	.footer-child {
		margin: 20px;
		text-align: left;
	}
	.footer {
    	padding-right: 0; 
    	justify-content: left;
		padding-left: 50px;
	}
}	
@media only screen and (max-width: 559px) {
	
}




















