/* Main class */
.navbar-hakuna-homepage {
  padding: 0px 60px;
  background-color: white;
  border-color: transparent;
  height: 200px;
  opacity: 0.8;
  box-shadow: 1px 1px 1px #D9D9D9;
  position: relative;
}
#navbar-background {
  background-color: black;
}

/* Optional class to fix the navbar on top */
.navbar-hakuna-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1001;
  width: 100vw;
}

/* Navbar logo */
.navbar-hakuna-brand-homepage img {
    height: 50px;
    top: -6px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Navbar main section (with form, links, button) */
.navbar-hakuna-main-homepage {
  position: absolute;
  top: 12px;
  right: calc(100vw - 73.5%);
  display: flex;
  
}
.navbar-hakuna-link {
  color: black;
  padding: 0 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.navbar-hakuna-link:hover {
  color: grey;
  text-decoration: none;
}
.social-links-homepage {
  position: absolute;
  top: 150px;
  right: 50px;
  display: flex;
  
}
.social-link {
  color: grey;
  font-size: 11px;
  padding: 0 10px;
  font-weight: lighter;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.social-link:hover {
  text-decoration: none;
  color: grey;
}

/* Navbar dropdown menu */
.navbar-hakuna-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-hakuna-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: white !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-hakuna-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-hakuna-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
.dropdown-toggle-black {
  color: black;
}
// On scroll only
.navbar-hakuna-scroll {
  display: flex;
  height: 70px;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  opacity: 0.8;
  box-shadow: 1px 1px 1px #D9D9D9;
}
.navbar-hakuna-link-scroll {
  color: #565656;
  font-size: 14px;
  font-weight: lighter;
  padding: 0 10px;
  letter-spacing: 2px;
  line-height: 0.5px;
}
.navbar-hakuna-link-scroll:hover {
  color: #8FF0E8;
  text-decoration: none;
}

@media only screen and (max-width:1025px){
  .navbar-hakuna-main-homepage {
    right: calc(100vw - 73.5%);
  }
}
// IPAD - portrait 767 - 768
@media only screen and (min-width: 767px) and (max-width:768px){
  .navbar-hakuna-brand-homepage img {
    top: 5%;
    right: calc(100vw - 62.3%);
  }
}
// Galaxy/Nexus - landscape 600 - 766
@media only screen and (max-width:766px){ 
  .navbar-hakuna-brand-homepage img {
    top: 5%;
    right: calc(100vw - 64.3%);
  }
}
// IPHONE 5 – landscape 500 - 600
@media only screen and (max-width:600px){ 
}
// IPHONE 6 & Plus– portrait 360 - 500
@media only screen and (max-width:500px){ 
  .navbar-hakuna-brand-homepage img {
    top: 5%;
    right: calc(100vw - 75.3%);
  }
}
// IPHONE 5 & smaller – portrait max 359
@media only screen and (max-width:359px){ 
  .navbar-hakuna-brand-homepage img {
    top: 10%;
    right: calc(100vw - 79.3%);
  }
}

