.banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1511964130/hakuna_landing_wftqep.jpg');
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  h6 {
    color: #333332;
    font-size: 12px;
    font-weight: lighter;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
.banner-content {
  width: 446px;
  h2 {
    color: #333332;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 120px;
  }
  h5 {
    font-size: 16px;
    font-weight: lighter;
    text-decoration: underline;
    margin-top: 46px !important;
    a {
      color: #333332;
    }
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    color: #333332;
    margin: 20px 0px 40px 0px;
  }
}
.mealplans_banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1494270535/hakuna_qs2cw7.jpg');
  height: 50vh;
  max-width: 100%;
  background-size: cover !important;
  background-position: center;
}
.ourfood_banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1512748366/Juices_banner_jqgrud.jpg');
  height: 50vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
@media only screen and (max-width: 1000px) {
  .banner {
    background-image: linear-gradient(-225deg, rgba(255, 255, 255, 0.4)50%, rgba(255, 255, 255, 0.4)80%), url('http://res.cloudinary.com/depgwjsnd/image/upload/v1518025539/HakunaFoods_landing_image_small_ydbv4g.jpg');
    height: auto;
  }
  .banner-content {
    margin-top: 16vh;
    margin-bottom: 16vh;
    // background-color: white;
    // background: rgba(255, 255, 255, 0.7);
    h2 {
      margin: 60px 20px 0 20px;
    }
  }
  // .subscribe {
  //   margin-bottom: 60px;
  // } 
}
@media only screen and (max-width: 1000px) {
  .banner-content {
    width: 500px;
  }
}
@media only screen and (max-width: 585px) {
  .banner-content {
    width: auto;
    padding: 0 20px;
    margin-top: 70px;
  }
}