.banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1503007188/HakunaFoods_landing_image_jgnjha_2_j0dx5i.jpg');
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100%;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.banner-content {
  width: 744px;
  h2 {
    color: #333332;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 120px;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    color: #333332;
    margin: 40px 0;
  }
}
.mealplans_banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1494270535/hakuna_qs2cw7.jpg');
  height: 50vh;
  max-width: 100%;
  background-size: cover !important;
  background-position: center;
}
.ourfood_banner {
  background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1495493960/j_kedqse.jpg');
  height: 50vh;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}
@media only screen and (min-width: 1300px) {
  .banner {
    height: calc(81.5vh);
  }
}
@media only screen and (max-width: 1271px) {
  .banner-content {
    width: 500px;
    padding: 0;
  }
}
@media only screen and (max-width: 1193px) {
  .banner {
    background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1503481260/HakunaFoods_landing_image_jgnjha_2_j0dx5i_ohnbwv.jpg');
  }
}
@media only screen and (max-width: 930px) {
  .banner {
    background-image: url('http://res.cloudinary.com/depgwjsnd/image/upload/v1503482505/HakunaFoods_landing_image_jgnjha_2_j0dx5i_s4ejpx.jpg');
  }
}
@media only screen and (max-width: 585px) {
  .banner-content {
    width: auto;
    padding: 0 20px;
    margin-top: 70px;
  }
}